<div class="container">
	<a href="/posts/new" class="btn btn-success">글쓰기</a>
	<p>
 	<!-- in_groups 넣기-->
	<% @posts.in_groups_of(3,false).each do |group| %>
		<div class="row mt-3">
	  		<%group.each do |post|%>
	    	<div class="col-4 index-image" data-value="<%=post.id%>">
	      		<img src="<%=post.Avatar%>" class="img-fluid" alt="Responsive image">
	    	</div>
	    	<%end%>
  		</div>
	<%end%>
</div>


<!-- <div class="container">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">제목</th>
	      <th scope="col">작성자</th>
	      <th scope="col">작성시간</th>
	    </tr>
	  </thead>	  	
	  <tbody>
	  	<% @posts.each	do |post|%>
	    <tr class="post" data-value="<%=post.id%>">
	      <th scope="row"><%=post.id%></th>
	      <td><%=post.title%></a></td>
	      <td>??</td>
	      <td><%=post.created_at%></td>
	    </tr>
	    <%end%>
	  </tbody>	  
	</table>
	<a href="/posts/new" class="btn btn-success">글쓰기</a>
</div> -->

<script>
	var posts = document.getElementsByClassName('index-image');
	for(var i = 0; posts.length; i++ ) {
		posts[i].addEventListener('click',function(){
			var id = this.getAttribute('data-value')
			console.log(id)
			location.href="/posts/"+id;
		});
	}
</script> 


