<div class="container d-flex justify-content-center mt-3">
	<!-- <table class="table">
		<thead>
			<th><%=@post.id%>번 글보기</th>
		</thead>
		<tbody>
			<tr>
				<td>제목</td>
				<td><%=@post.title%></td>
				<td>작성시간 </td>
				<td><%=@post.created_at%>
			</tr>
			<tr>
				<td><%=@post.contents%></td>
			</tr>
			<tr>
				<td><img src="<%=@post.Avatar%>"></td>
			</tr>
		</tbody>
	</table> -->

	
	<figure class="figure">
  		<img src="<%=@post.Avatar%>" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  		<figcaption class="figure-caption text-center">
			<p><%=@post.title%></p>
			<p><%=@post.contents%></p>
		</table>
  		</figcaption>
	</figure>	
	<p>
		<div>
			<a href ="#" class="btn btn-primary">좋아요</a>
			<% if can? :update, @post %>
			<a href ="/posts/<%=@post.id%>/edit" class="btn btn-warning">수정</a>
			<% end %>
			<% if can? :destroy, @post %>
			<a href ="/posts/<%=@post.id%>" data-method="delete" class="btn btn-danger"  data-confirm="삭제할래?">삭제</a>		
			<% end %>
		</div>
	</p>
</div>