<div class="container">
	<table class="table">
		<thead>
			<th><%=@post.id%>번 글보기</th>
		</thead>
		<tbody>
			<tr>
				<td>제목</td>
				<td><%=@post.title%></td>
				<td>작성시간 </td>
				<td><%=@post.created_at%>
			</tr>
			<tr>
				<td><%=@post.contents%></td>
			</tr>
		</tbody>
	</table>
	<a href ="#" class="btn btn-primary">좋아요</a>
	<a href ="/posts/<%=@post.id%>/edit" class="btn btn-warning">수정</a>
	<a href ="/posts/<%=@post.id%>" data-method="delete" class="btn btn-danger">삭제</a>
</div>